# Python Programming Language
This notebook gives an overview of python syntax, different data types and an introduction to functions and object-oriented programming.


### A note on Jupyter Notebooks
Jupyter notebooks are organized in cells, each cell contains a portion of code that will be run together, producing an output. Aside from code cells, notebooks also have Markdown (i.e text) cells such as this one. To change the cell type, simply choose from the dropdown list in the upper bar. 
To add text inside a code cell, you must comment it using a hash (#) for a single line or three quotes ("""...""") for docstrings. Hashed comments will not be run as code, and they are really helpful for following the code.

In [4]:
# This is a comment -> comments do not run or affect the script

""" 
For multiline comments, you can use the three double quotes
Documenting your code is very important for your future you or other collaborators
Always try to write in a line what is the function objective
"""

' \nFor multiline comments, you can use the three double quotes\nDocumenting your code is very important for your future you or other collaborators\nAlways try to write in a line what is the function objective\n'

## Data types

### String
Text is passed as a string (str) in python, always inside single ('...') or double quotes ("...")

### Numbers
- Integers (int): whole numbers (positive or negative)
- Floating Point Numbers (float): real numbers with decimal positions

### Booleans
A boolean (bool) value is either a True or False

### Lists
A list is an ordered collection of items which can include different data types inside. Each item in a list is recognized by its position. Keep in mind that lists start at position 0 in python, not 1. 
A list is defined by square brackets [1,2,2,3]

### Sets
A set is an unordered collection of unique items. It is defined by curly brackets {1,2,3}

### Dictionaries
A dictionary is an unordered conatiner of Key:Value pairs. Keys must be unique, and can map to one or more values. 
A dictionary is defined by curly brackets {Key:Value}, for example {"Name":"Gemma", "Age":30}

*lists and dictionaries are mutable, i.e the elements inside can change, but sets are immutable.

In [3]:
#string
"Hello world"

'Hello world'

In [4]:
#Single vs Double Quote
"Hello world double quote"
'Hello world, single quote'
"Hello world, that's nested quotes"

"Hello world, that's nested quotes"

In [6]:
#Numbers
2.5 #float

2.5

In [12]:
#We can check our data type using type(...)
type(2.5)

float

In [7]:
2+2 #addition

4

In [8]:
2*2 #multiplication

4

In [22]:
6/3 #division

2.0

In [24]:
3**3 #exponentiation

27

In [9]:
2+3*5 #multiple operations

17

In [10]:
(2+3)*5

25

In [2]:
# importantly the equal operator must be == (never =)
2 == 2 #returns a boolean

True

In [26]:
# and the different operator is !=
2 != 2 #returns a boolean

False

In [44]:
#we can also use and / or conditions to obtain a boleean
#and
(5>2) and (4>6)

True

In [45]:
#or
(5>2) or (4>6)

True

In [14]:
#let's create a list
mylist = [1, "Ersilia", "third", 10]
mylist[0] #we use the position in the list to retrieve an element

1

In [15]:
mylist[2] #this calls the list element [2], remember counting starts at 0

'third'

In [19]:
mydict = {"key":"value", "book":"lord of the rings", "author": "Tolkien"}
mydict["key"] #we use the key to retrieve data from the dictionary, that is why keys must be unique

'value'

### Variables
Before continuing, we need to understand the "variable" concept. A variable stores data values, and its name must be UNIQUE.

Variables are simply assigned by the = operator, and can be reassigned at any moment.

In [20]:
#actually, in the previous examples we have declared the variables "mylist" and "mydict"

hello = "Hello"
name = "Gemma"

hello + name

'HelloGemma'

In [21]:
#I can reassign the variable at any point
name = "Miquel"
hello + " " + name

'Hello Miquel'

In [27]:
# we can do operations on variables
a = 3
b = 5

a*b

15

### Working further with strings
Some built-in functions that might be useful
#### Print and format print

In [32]:
#printing allows to get several outputs printed from the same cell. Print is a predefined function in Python
print(a+b)
print(hello+name)

8
HelloMiquel

In [33]:
#print format: if you want to print a changing statement depending on the variable:
print("My name is {}".format(name))

My name is Miquel

#### Upper and lower case

In [51]:
#make a sentence all upper or lower case

sentence = "This is a Test Example"
print(sentence.upper())
print(sentence.lower())

THIS IS A TEST EXAMPLE
this is a test example

#### Split and join

In [37]:
#split a sentence on blank spaces
print(sentence.split())

#we can then select the item of the list we want
sentence.split()[3]

['This', 'is', 'a', 'Test', 'Example']

'Test'

In [49]:
#split using different characters
date = "20-10-2021"
print(date.split("-"))
date.split("-")[2]

['20', '10', '2021']

'2021'

In [52]:
day, month, year = date.split("-")
print(month)

#we can also join strings
date_joined = "/".join([day, month, year])
print(date_joined)

10
20/10/2021

### Dive deeper into lists and dictionaries

In [8]:
# call last element of a list
list1 = ["a", "b", "c", "d", "e", "f", "g"]
list1[-1]

'g'

In [39]:
# call several elements of a list using slicing
print(list1[2:5]) #position 5 is not selected
print(list1[:3]) #up to position 3 (not included)
print(list1[2:]) #from position 2 (included) to the end

['c', 'd', 'e']
['a', 'b', 'c']
['c', 'd', 'e', 'f', 'g', 'h', 'i']

In [ ]:
# a list could actually be a list of lists
nested_list = [1, 2, [3,4,5], 6, 7]
nested_list[2][2]

In [2]:
#dictionaries can also be nested
dict_list = {"letters":["a", "b", "c", "d"], "nums": ["one","two","three"]}
dict_list["nums"][1] #call the key and then the position of the value you are interested in

'two'

In [43]:
dict_of_dicts = {"key":{"letter":["a", "b", "c"]}}
dict_of_dicts["key"]["letter"][2]

'c'

In [5]:
#adding elements to a list
#option one: .append
list1.append("h")
list1

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

In [9]:
#option 2: +=
list1 += ["i"]
list1

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'i']

In [3]:
#adding keys to a dictionary
dict_list["Names"]=["Gemma", "Miquel", "Edo"]
dict_list

{'letters': ['a', 'b', 'c', 'd'],
 'nums': ['one', 'two', 'three'],
 'Names': ['Gemma', 'Miquel', 'Edo']}

In [4]:
#adding values to a key in a dictionary
dict_list["Names"].append("Ersilia")
dict_list

{'letters': ['a', 'b', 'c', 'd'],
 'nums': ['one', 'two', 'three'],
 'Names': ['Gemma', 'Miquel', 'Edo', 'Ersilia']}

In [7]:
#get keys
dict_list.keys()
#get values
dict_list.value

dict_items([('letters', ['a', 'b', 'c', 'd']), ('nums', ['one', 'two', 'three']), ('Names', ['Gemma', 'Miquel', 'Edo', 'Ersilia'])])

In [13]:
# sets
myset = {1,2,2,3,4,5,5,5,6}
myset

{1, 2, 3, 4, 5, 6}

In [3]:
# we can convert a list into a set to eliminate duplicates:
duplicates = [1,2,4,5,5,6,7,8,8,10]
nodups = set(duplicates)

{1, 2, 4, 5, 6, 7, 8, 10}

#### Some built-in functions for lists
Range, max, min, abs, len, sorted

In [19]:
#len() gives the length of the list or the length of a dictionary (keys)
print(len(list1))
print(len(dict_list))

5
2

In [11]:
#sorted orders lists in alphabetical order
abc = ["d", "g", "t", "a", "x"]
sorted(abc)

['a', 'd', 'g', 't', 'x']

In [9]:
list2 = [3,5,1,7,8,2]
sorted(list2)

[1, 2, 3, 5, 7, 8]

In [12]:
#max and min return the respective values of a list
print(max(list2))
print(min(abc))

8
a

In [14]:
#convertion to absolute values
abs(-6.25)

6.25

## Conditionals
If, elif

In [51]:
if 2+2==4:
    print("correct!") #indented 4 spaces

correct!

In [2]:
list1 = ["a","b", "c", "d"]
list2 = ["x", "y", "z"]

if "h" in list1:
    print("h is in list1")
elif "h" in list2:
    print("h is in list2")
else:
    print("h is not in lists")

h is not in lists

In [3]:
if "h" in list1:
    print("h is in list1")
elif "h" in list2:
    print("h is in list2")
else:
    list1.append("h")

## Loops
For and while loops

In [4]:
#for allows to iterate over a list

for x in list1: #x is a temporal variable, it could be letter, number, a, anything you want
    print(x)

a
b
c
d
h

In [6]:
"""
while repeats a block of code as long as a condition is met:
while (condition is True):
    do something
end

Watch out for INFINITE LOOPS, if the condition never turns false the loop won't stop
""" 

x = 1

while (x<10):
    x = x + 1
    print("run number" + str(x-1))

run number1
run number2
run number3
run number4
run number5
run number6
run number7
run number8
run number9

### List Comprehension
How to use one-line code to create lists using for loops

In [24]:
nums = [1,2,3,4,5]
nums_sum = []

for item in nums:
    nums_sum += [(item+2)]

nums_sum

[3, 4, 5, 6, 7]

In [26]:
#the for loop can be simplified by:
nums_sum = [item+2 for item in nums]

In [17]:
#list comprehension can start from a string
chars = [char for char in "comprehension"]
chars

['c', 'o', 'm', 'p', 'r', 'e', 'h', 'e', 'n', 's', 'i', 'o', 'n']

In [30]:
#it can include conditionals inside
num_list = [num for num in range(20) if num<10]
num_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

## Functions
Functions allow to call a block of code without having to rewrite it again.

Use def() to set up a new function

In [53]:
def funct():
    print("hi")

In [54]:
funct()

hi

In [62]:
#let's specify some parameters for our function
def name_funct(name):
    print("My name is "+name)

name_funct("Gemma")

My name is Gemma

In [63]:
#use return to store a new variable

def difference(x1,x2):
    return x1-x2

diff = difference(6,4)